<?xml version="1.0"?>
<model>
    <name>simple_mars-rover-with-lidar</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>HamidSmithSalehi</name>
        <email>hamids23@gmail.com</email>
    </author>
    <description>
        the project done for final project online-course
    </description>
</model>
